.daily-tasks-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0 0 20px;
  padding: 10px 12px 10px 40px;
  border: 1px solid var(--input-border-dark)
}

.daily-tasks-field:last-child {
  margin-bottom: 0
}

.daily-tasks-field:before {
  position: absolute;
  display: block;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 10px;
  counter-increment: fieldCounter;
  content: counters(fieldCounter, ".") ".";
  color: inherit;
  font-size: 16px;
  font-weight: 700
}

.daily-tasks-field:after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--daily-tasks-field-after-bg);
  -webkit-transition: opacity .2s;
  transition: opacity .2s
}

.daily-tasks-field__input, .daily-tasks-field__task {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 auto 0 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 57%
}

@media screen and (min-width: 391px) {
  .daily-tasks-field__input, .daily-tasks-field__task {
    max-width: 100%
  }
}

.daily-tasks-field__input {
  line-height: 1;
  padding: 7px 12px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border)
}

.daily-tasks-field__input:focus {
  outline: 0
}

.daily-tasks-field__input:focus-visible {
  -webkit-box-shadow: inset 0 0 0 2px var(--input-border-dark);
  box-shadow: inset 0 0 0 2px var(--input-border-dark)
}

.daily-tasks-field__task {
  padding: 4px 6px;
  line-height: 1.5;
  color: var(--form-txt)
}

.daily-tasks-field__btn {
  padding: 0;
  margin-left: 10px
}

.daily-tasks-field__edit-btn, .daily-tasks-field__remove-btn, .daily-tasks-field__save-btn {
  width: 32px;
  height: 32px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px
}

.daily-tasks-field__remove-btn {
  background-color: var(--remove-bg);
  border-color: var(--remove-bg)
}

.daily-tasks-field__remove-btn:hover {
  background-color: transparent;
  color: var(--remove-bg)
}

.daily-tasks-field__remove-btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px var(--remove-bg);
  box-shadow: 0 0 0 2px var(--remove-bg)
}

.daily-tasks-field__save-btn {
  background-color: var(--save-bg);
  border-color: var(--save-bg);
  -webkit-box-ordinal-group: 101;
  -ms-flex-order: 100;
  order: 100
}

.daily-tasks-field__save-btn:hover {
  background-color: transparent;
  color: var(--save-bg)
}

.daily-tasks-field__save-btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px var(--save-bg);
  box-shadow: 0 0 0 2px var(--save-bg)
}

.daily-tasks-field__edit-btn {
  background-color: var(--edit-bg);
  border-color: var(--edit-bg)
}

.daily-tasks-field__edit-btn:hover {
  background-color: transparent;
  color: var(--edit-bg)
}

.daily-tasks-field__edit-btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px var(--edit-bg);
  box-shadow: 0 0 0 2px var(--edit-bg)
}